<ul>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Root</a>
    </li>
    <li>
        <a asp-area="Common" asp-controller="Home" asp-action="Index">Common</a>
    </li>
    <li>
        <a asp-area="Demo" asp-controller="Home" asp-action="Index">Demo</a>
    </li>
</ul>